<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MyGet" value="https://www.myget.org/F/opensilver/api/v3/index.json" />
        <add key="MyGet Xaml3D Develop" value="https://www.myget.org/F/xaml3d-develop/api/v3/index.json" />
    </packageSources>
</configuration>