<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet OpenSilver" value="https://www.myget.org/F/opensilver/api/v3/index.json" />
	<add key="MyGetPrivate" value="https://www.myget.org/F/opensilver-private/api/v3/index.json" />
    <add key="PrivatePackages" value="PrivatePackages" />	    
</packageSources>
  <packageSourceCredentials>
    <MyGetPrivate>
      <add key="Username" value="package.distribution" />
      <add key="ClearTextPassword" value="05918ef0-f58b-4fb6-b3ee-56ebf66b79e6" />
    </MyGetPrivate>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
