<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSHTML5" version="2.0.0-alpha59-079" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.DevExtreme" version="1.0.0-alpha-001" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.KendoUI.Common" version="1.0.0-alpha01-004" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.KendoUI.Editor" version="1.0.0-alpha01-004" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.KendoUI.Grid" version="1.0.0-alpha01-004" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.Syncfusion.EssentialJS1.Common" version="1.0.0-alpha01-001" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.Syncfusion.EssentialJS1.RichTextEditor" version="1.0.0-alpha01-001" targetFramework="net45" />
  <package id="CSHTML5.Wrappers.Syncfusion.EssentialJS1.Spreadsheet" version="1.0.0-alpha01-001" targetFramework="net45" />
</packages>