name: OpenSilver Showcase Build

env:
  virtual-directory: '/opensilvershowcase/develop/'
  app-path: 'opensilverdemos/opensilvershowcase/develop/'
  virtual-directory-release: '/opensilvershowcase/release/'
  app-path-release: 'opensilverdemos/opensilvershowcase/release/'
  deploy-service-url: 'opensilverdemos.scm.azurewebsites.net:443'

on:
  workflow_dispatch:

jobs:
  OpenSilverShowcaseBuild:
    runs-on: windows-latest
    steps:
      - name: Set directory environment variables
        if: "${{ github.event.inputs.opensilver-branch == 'develop' }}"
        run: |
          echo "vdir=${{ env.virtual-directory }}" >> $env:GITHUB_ENV
          echo "apath=${{ env.app-path }}" >> $env:GITHUB_ENV
      - name: Set directory environment variables
        if: "${{ github.event.inputs.opensilver-branch == 'releases/OpenSilver/1.1.0' }}"
        run: |
          echo "vdir=${{ env.virtual-directory-release }}" >> $env:GITHUB_ENV
          echo "apath=${{ env.app-path-release }}" >> $env:GITHUB_ENV
      - name: Setup MSBuild Path
        uses: microsoft/setup-msbuild@v1.1
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Install .NET 7
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.*'
      - name: Clone OpenSilver Showcase
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          path: './Showcase'
      - name: Replace text
        run: |
          sed -i 's\<base href=\"/\" />\<base href=\"${{ env.vdir }}\" />\g' Showcase/OpenSilver.Samples.Showcase.Browser/wwwroot/index.html
      - name: Replace UserName
        run: |
          sed -i 's\USERNAME\${{ secrets.OPENSILVERDEMOSUSERNAME }}\g' Showcase/OpenSilver.Samples.Showcase.Browser/Properties/PublishProfiles/publish.pubxml
      - name: Build and Deploy
        working-directory: Showcase
        run: |
          msbuild OpenSilver.Samples.Showcase.Browser\OpenSilver.Samples.Showcase.Browser.csproj /p:DeployOnBuild=true /p:PublishProfile="OpenSilver.Samples.Showcase.Browser\Properties\PublishProfiles\publish.pubxml" /p:Password=${{ secrets.OPENSILVERDEMOSUSERPWD }} /p:DeployIisAppPath=${{ env.apath }} /p:MSDeployServiceURL=${{ env.deploy-service-url }} /p:Configuration=SL.Release /restore